.simpleSlider{
    border:1px solid;
    display: inline-block;
    position: relative;
}

.simpleSlider.trem{
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    margin-left: 10px;
}

/*--------------------------------*/

.simpleSlider{
    width: 250px;
    height: 250px;
}

.simpleSlider-thumb, .simpleSlider-container{
    width:194px;
    height: 194px;
}


.simpleSlider-container{
    top:28px;                                     /* (.simpleSlider.width - simpleSlider-container.width)/2 */
    left:28px;
}

.simpleSlider-thumb{
    border: 28px solid green;                     /* same as simpleSlider-container.top */
}

.simpleSlider-thumb>li{
    width: 18px;
    height: 18px;
    top: -23px;                                   /* -1((simpleSlider-container.top - width)/2 + width) */
    margin-left: -9px;                            /* -1*width/2 */
    -webkit-transform-origin: 9px 120px 0;        /* simpleSlider-thumb.width/2 + -1*top */
    transform-origin: 9px 120px 0;
}

.simpleSlider>ul, .simpleSlider{
    border-radius:200px;
}
/*--------------------------------*/

.simpleSlider>ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

.simpleSlider>ul>li{
    padding: 0;
    display: inline-block;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    position: absolute;
}

/*--------------------------------*/

.simpleSlider-container{
    display: inline-block;
    overflow: hidden;
}

.simpleSlider-container>li{
    margin: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    top:0;
    left: 100%;
    visibility: hidden;
}

.simpleSlider-container>li.prev{
    left:-100%;
    visibility: visible;
}

.simpleSlider-container>li.next{
    left:100%;
    visibility: visible;
}

.simpleSlider-container>li.active{
    left:0;
    z-index: 2;
    visibility: visible;
}

/*--------------------------------*/

.simpleSlider-thumb{
    display: inline-block;
    background-color: transparent;
    bottom: 0;
    left:0;
    z-index: 10;
}

.simpleSlider-thumb>li{
    background-color: red;
    cursor: pointer;
}

.simpleSlider-thumb>li:hover, .simpleSlider-thumb>li.active{
    background-color: yellow;
}
