.simpleSlider{
    border:1px solid;
    display: inline-block;
}

.simpleSlider>ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;    
}

.simpleSlider>ul>li{
    padding: 0;
    display: inline-block;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

/*--------------------------------*/

.simpleSlider-container{
    top:0;
    width:150px;
    height: 150px;
    display: inline-block;
    overflow: hidden;
}

.simpleSlider-container>li{
    margin: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    top:0;
    position: absolute;
    left: 150px;
    visibility: hidden;
}

.simpleSlider-container>li.prev{
    left:-100%;
    visibility: visible;
}

.simpleSlider-container>li.next{
    left:100%;
    visibility: visible;
}

.simpleSlider-container>li.active{
    left:0;
    z-index: 2;
    visibility: visible;
}

/*--------------------------------*/

.simpleSlider-preview{
    display: inline-block;
    width: 100%;
    background-color: green;
    bottom: 0;
}

.simpleSlider-preview>li{
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background-color: red;
    cursor: pointer;
}

.simpleSlider-preview>li:hover, .simpleSlider-preview>li.active{
    background-color: yellow;
}

/*Advanced styles*/
#red{background-color: #c0392b;}
#orange{background-color: #d35400;}
#green{background-color: #00f000;}
#blue{background-color: #3498db;}
#purple{background-color: #8e44ad;}
html{text-align: center; }
